<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="simplegeo.Net.SampleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <simplegeo.Net.SampleApp.Properties.Settings>
            <setting name="OAuthToken" serializeAs="String">
                <!-- Go To http://simplegeo.com/tokens/ for your token/secret -->
                <value>&lt;enter your simplegeo OAuth Token here&gt;</value>
            </setting>
            <setting name="OAuthSecret" serializeAs="String">
              <!-- Go To http://simplegeo.com/tokens/ for your token/secret -->
                <value>&lt;enter your simplegeo OAuth Secret here&gt;</value>
            </setting>
        </simplegeo.Net.SampleApp.Properties.Settings>
    </applicationSettings>
</configuration>